.board {
  position: absolute;
  width: 500px;
  height: 500px;
  background: url("mars-board.png") no-repeat;
  background-size: cover;
}

#rover {
  position: relative;
  width: 60px;
  height: 60px;
  background: url("rover.png") no-repeat;
  background-size: cover;
  
}

