
@import url('https://fonts.googleapis.com/css?family=Roboto');

.container {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.controls {
  display: inline-block;
  width: 70%;
  padding: 0% 2%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 3em;
  margin-right: -2em;

}
.controls ul {
  list-style-type: none;
  margin-left: -2.5em;
}

.controls input {
  border: 1px solid;
}

.controls button {
  border: 1px solid;
}

.buttons {
  margin-top: 2em;
}

.buttons button {
  border: 1px solid;

}

.board {
  position: absolute;
  left: 30%;
  right: 30%;
  width: 500px;
  height: 500px;
  background: url("mars-board.png") no-repeat;
  background-size: cover;
  margin: 2% auto;
  border: 5px solid black;
}

#rover {
  position: relative;
  width: 60px;
  height: 60px;
  background: url("rover.png") no-repeat;
  background-size: cover;
}



